{% extends "./layouts/layout-default.twig" %}

{% set page_title = 'Error' %}

{% block content %}
<div class="row mt-3 mb-3">
    <div class="col-md-2 text-end fs-1">
        {{ error.code }}
    </div>
    <div class="col-auto fs-3">
        {{ error.message }}
    </div>
</div>
<div class="d-flex justify-content-center gap-2 mb-3">
    <a class="btn btn-outline-primary" href="{{ app.base }}">Home</a>
    {% if error.details %}
    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample">
        Show Details
    </button>
    {% endif %}
</div>
{% if error.details %}
<div class="container collapse" id="collapseExample">
    <div class="card card-body">
        {{ error.details|raw }}
    </div>
</div>
{% endif %}
{% endblock %}