{% extends "./layouts/layout-default.twig" %}

{% set page_title = 'Home' %}

{% block content %}
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Slim Framework 4</a>
    </div>
</nav>
<div class="container-fluid">
    <h2>Slim Framework 4 with Twig and custom error page</h2>
</div>
{% endblock %}